.components__searchbars {
    width: 22rem;
    height: 12rem;
}

.custom-searchbars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: .5rem;
    width: 16rem;
    height: 2rem;
}

.custom-searchbars__wrapper {
    width: 16rem;
    height: 2rem;

    display: flex;
    align-items: center;
    padding: .5rem .25rem .5rem .5rem;
    gap: .25rem;

    background: var(--input-background);

    border: 1px solid var(--input-border-color);
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.custom-searchbars__button {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    padding: .25rem;
    border-radius: 0;
    box-sizing: border-box;
    border: none;
    background: none;
}

.custom-searchbars__input {
    width: 100%;
    min-height: 100%;
    padding: 0;
    outline: none;
    border: none;
    background: none;
}

.custom-searchbars__input::placeholder {
    color: var(--input-placeholder-color)
}

.custom-searchbars__icon {
    width: 100%;
    height: 100%;
    stroke: var(--icon-color-search);
}

.custom-searchbars__icon_x {
    stroke: var(--icon-color-x);
}

.custom-searchbars__icon_search {
    stroke: var(--icon-color-search)
}

.custom-searchbars__button_right {
    display: none;
}

.custom-searchbars_filled .custom-searchbars__button_right {
    display: flex;
}