.header {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .theme-title {
    display: none;
}

.header .theme-title.active {
    display: inline;
}