.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
  gap: 0.5rem;
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--main-elements-color);
  color: var(--background-color);
}

.button__icon {
  width: 1rem;
  height: 1rem;
  width: 1rem;
  height: 1rem;
  fill: var(--background-color);
  stroke: var(--background-color);
}

/**************************** ONLY TEXT BUTTONS *********************************/
.button_not-icon {
  width: 5.5rem;
}

.button_not-icon .button__icon {
  display: none;
}

/**************************** ONLY ICON BUTTONS *********************************/
.button_not-text {
  width: 2rem;
  padding: 0.5rem;
}

.button_not-text .button__text {
  display: none;
}

/**************************** NOT FILLED BUTTONS *********************************/
.buttons_not-filled {
  background: none;
  color: var(--main-elements-color);
}

.buttons_not-filled .button__icon {
  fill: var(--main-elements-color);
  stroke: var(--main-elements-color);
}

/**************************** DISABLED BUTTONS *********************************/
.buttons_disabled {
  background: none;
  color: var(--button-text-color_disabled);
}

.buttons_disabled.button_not-text {
  position: relative;
}

.buttons_disabled.button_not-text .button__text {
  display: inline;
  top: 0.5rem;
  left: 2.5rem;
  position: absolute;
  opacity: 0;
}

.buttons_disabled .button__icon {
  fill: var(--button-text-color_disabled);
}

/**************************** SHORT BUTTONS *********************************/
.buttons_short {
  width: 5.75rem;
  height: 1.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  gap: 0.25rem;
}

.buttons_short.button_not-icon {
  width: 4.5rem;
}

.buttons_short.button_not-text {
  padding: 0.25rem;
  width: 1.5rem;
}

/**************************** BUTTONS IN DROPDOWNS *********************************/
.button_full-width {
  width: 100%;
}

/**************************** BUTTONS IN HEADER *********************************/
.header .button {
  width: 8.75rem;
}
