.components__buttons {
    width: 36rem;
    height: 23rem;

    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    grid-template-areas:
        "box-1 box-2 box-3"
        "box-4 box-5 .";
}

.box-1 {
    grid-area: box-1;
}

.box-2 {
    grid-area: box-2;
}

.box-3 {
    grid-area: box-3;
}

.box-4 {
    grid-area: box-4;
}

.box-5 {
    grid-area: box-5;
}

.buttons {
    max-width: 7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
    gap: .5rem;
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: .25rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.button__icon {
    width: 1rem;
    height: 1rem;
    width: 1rem;
    height: 1rem;
}

.button__text {
    width: 3.5rem;
}

.button_not-icon {
    width: 5.5rem;
}

.button_not-icon .button__icon {
    display: none;
}

.button_not-text {
    width: 2rem;
    padding: .5rem;
}

.button_not-text .button__text {
    display: none;
}

.buttons_not-filled {
    background: none;
    color: var(--button-text-color_not-filled);
}

.buttons_disabled {
    background: none;
    color: var(--button-text-color_disabled);
}

.buttons_disabled.button_not-text {
    position: relative;
}

.buttons_disabled.button_not-text .button__text {
    display: inline;
    top: .5rem;
    left: 2.5rem;
    position: absolute;
    opacity: 0;
}

.buttons_disabled .button__icon {
    fill: var(--button-text-color_disabled)
}

.buttons_narrow {
    width: 5.75rem;
    height: 1.5rem;
    padding: .25rem .5rem .25rem .5rem;
    gap: .25rem;
}

.buttons_narrow.button_not-icon {
    width: 4.5rem;
}

.buttons_narrow.button_not-text {
    padding: .25rem;
    width: 1.5rem;
}