.components__page-header {
    width: 49.125rem;
    height: 13rem;
}

.header {
    width: 43.125rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    position: relative;

}

.header__button {
    width: 8.75rem;
    height: 2rem;
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    white-space: nowrap;
    background: none;
    border: none;
    color: var(--dropdowns__button-font-color);
}

.header__icon {
    fill: var(--dropdowns__button-font-color);
    width: 1rem;
    height: 1rem;
}

.header .dropdown_choose-theme {
    position: absolute;
    top: 2.25rem;
    right: 0;
}